 /* CSS for main */
  .intro1 h3{
    color: #1b1e83;
    font-family: Vulf Sans Light;
    font-size: 60px;
    line-height: 50px;
    margin: 150px 50px 22px;
  }
  .intro1 p{
    color: #4e5565;
    font-family: Disclaimer Medium;
    font-size: 30px;
    line-height: 33px;
    margin: 0px 0px 22px;
  }
  .intro1 p{
    margin-left: 50px;
  }
  .learnmore-5-1{
    width: 70%;
    margin-left: 25%;
  }
  .container-dlt{
    padding: 150px ;
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 0px !important;
  }
  .container-dlt h3, .span-text,.link-text{
    font-family:Vulf Sans Light;
    line-height: 40px;
    font-size: 36px;
    color: #4e5565;
  }
  .link-text{
    color: #ff6f00 !important;
  }
  .intro2 h2{
    font-family:Vulf Sans Light;
    color: #19237e;
    display: inline;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
  }
  
  .intro2 p,.intro2-1{
    color: #333333;
    font-family:Vulf Sans Light;
    font-size: 25px;
  }
 .link-text1{
    font-family:Vulf Sans Light;
    font-size: 25px;
    color: #ff6f00;
 }
 .blog{
  font-family:Vulf Sans Light;
  color: #19237e;
  font-size: 32px;
  line-height: 35px;
  font-weight: 500;
 }
 .blog-1{
  color: #333333;
  font-family:Vulf Sans Light;
  font-size: 26px;
}
 .cont-1{
   text-align: center;
 }
 .cont-2{
   text-align: center;
   font-size: 30px;
   color: #4e5565;
 }
 .card-text1{
  font-family:Vulf Sans Light;
  color: #333333;
  font-size: 28px;
 }
 .intro3 h3{
  color: #4e5565;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 5%;
 }
 .intro3 a{
   display: block;
   font-size: 28px;
   color: #ff6f00;
   line-height: 35px;
   margin-bottom: 10%;
   text-decoration: none;
 }
 #scrollTop {
  position: fixed;
  bottom: -56px;
  right: 60px;
  background: rgb(53, 53, 53);
  color: white;
  font-size: 20px;
  padding: 8px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
#scrollTop:hover {
    color: white;
}
 