.header-navbar {
    padding: 0;
    height: 60px;
    margin: 0;
  }
  .navbar {
    padding: 0 0;
    height: 60px;
    background-color: #ffffff;
    box-shadow: #000000 0px -2px 4px 0px;
    color: #212529;
    line-height: 20px;
    margin: 0px 0px 36px;
  }
  .navbar_header {
    color: #212529;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin: 0px 34.5px;
    padding: 0px 6px;
  }
  
  .learn-more_dad{
    position: relative;
    cursor: pointer;
    color: rgba(0,0,0,.55);
  }
  .learn-more_list{
      position: absolute;
      display: none;
      list-style: none;
      padding-left: 0;
      left: 0;
      z-index: 1;
      box-shadow: 0px 4px 4px 0px #cac6c6;
      background-color: #ffff;
  }
  .learn-mode_item{
      padding: 0 0 !important;
  }
  .learn-more_item li{
      padding-left: 0;
  }
  .learn-more_dad:hover > .learn-more_list{
      display: block;
  }
  .up-hover{
      display: none;
  }
  .learn-more_dad:hover .down-hover{
      display: none;
  }
  .learn-more_dad:hover .up-hover{
      display: inline-block;
  }
  .learn-more_list a{
    color: rgba(0,0,0,.55);
  }
  .signup-btn,
  .login-btn {
    display: block;
    line-height: 60px;
    cursor: pointer;
  }
  .nav-item {
    line-height: 60px;
    padding: 0 12px;
  }
  .nav-link {
    display: block;
    padding: 0;
  }
  .edmodo-img {
    top: 50%;
    transform: translateY(-50% + 1);
  }
  .btn-show {
    padding: 0 24px;
  }
  .learn-more_list .dropdown-item,
  .learnmore_items,
  .nav-item:hover {
    background-color: #f4f4f7;
    color: #5c6178;
  }
main {
    display: flex;
    margin: 100px auto 0;
    justify-content: center;
}
main button {
    border: none;
    padding: 16px 36px;
    border-radius: 6px;
    margin-top: 22px;
}
.intro {
    
    padding: 20px;
    justify-content: center;
}
:root {
    --primary-color: #1a237e;
}
main .img {
    margin-top: -50px;
}
.intro h3 {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 300;
    padding:  0 100px;
}
.intro p {
    color: #4e5665;
    font-size: 30px;
    font-weight: 500;
    line-height: 34.5px;
    padding:  0 100px;
}
.button-contact_us{
   margin-left: 100px;
}
.connect {
    margin-top: 120px;
    text-align: center;
}
.connect h3 {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 400;
}
.connect p {
    font-size: 34px;
    color: #4e5665;
    margin-top: 40px;

}
.connect-details {
    width: 100%;
    height: 100px;
}
.intro_1 h3 {
    margin: 100px 100px 20px;
    color: #1a237e;
    font-size: 30px;
    line-height: 36px;
}
.intro_1 p {
    color: #4e5565;
    margin: 0px 0px 20px;
    font-size: 30px;
    line-height: 36px;
}
.intro_2 h3,p {
    
    color: #4e5565;
    margin: 0px 0px 20px;
    font-size: 30px;
    line-height: 36px;

}
.intro_2 h3 {
   text-align: center;
   margin-top: 140px;

}
.intro_2 p {
  margin: 17px 100px ;

}
.learnmore-4-cr1{
    background-color: #303f9f;
    margin-top: 150px;
    background-position: 50% 50%;
    padding: 50px;

}
.learnmore-4-cr1-t1 h1{
    color: white;
    font-size: 23px;
}
.learnmore-4-cr1-t1 p{
    color: white;
    font-size: 35px;
    text-align: center;
}

.learnmore-4-cr1-t2 h1{
    color: white;
    font-size: 23px;
}
.learnmore-4-cr1-t2 p{
    color: white;
    font-size: 35px;
    text-align: center;
}
.learnmore-4-cr1-t3 h1{
    color: white;
    font-size: 23px;
}
.learnmore-4-cr1-t3 p{
    color: white;
    font-size: 35px;
    text-align: center
}
.footer-lable {
    font-size: 16px;
    font-family: "Disclaimer Regular", Helvetica "Neue", Helvetica, sans-serif;
}
.footer-lable-2 {
    font-size: 11px;
    text-align: justify;
    opacity: 0.6;
}
.form-select {
    width: 40%;
}
.norm{
    background-color: #303f9f;
    display: flex;
    padding: 100px 100px 20px 100px;
}
.bg-learnmore-4{
    background-image: url("/assets/images/bg-learnmore-4.png");
}



