* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.col-md-12 {
  padding: 0;
  margin: 0;
}
.header-navbar {
  padding: 0px;
  height: 52px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 7%) 0px 2px 4px;
}
.navbar > .container {
  justify-content: center;
  flex-wrap: wrap;
}
h3 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

main {
  margin-top: 10px;
  background: #ffca28;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}

body {
  background-color: #ffca28;
  min-height: 93vh;
}
.signupOption {
  background-color: #ffca28;
  color: #212529;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 20px;
}
.page-content {
  width: 560px;
  padding: 65px 42px 32px;
}

.btnBack:hover {
  text-decoration: underline;
}
.big-button-text-image {
  align-items: flex-start;
  border-color: #1a237e;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 5px;
  text-align: left;
}
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.big-button-text-image .option-icon {
  align-items: center;
  background-color: #e8eaf6;
  border-radius: 30px;
  display: flex;
  flex-basis: 16.6667%;
  margin: 0px 10px 0px 0px;
}

