* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header-navbar {
  padding: 0px;
  height: 52px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 7%) 0px 2px 4px;
}
.navbar > .container {
  justify-content: center;
  flex-wrap: wrap;
}
h3 {
  margin-top: 12px;
}
body {
  background-color: #ffca28;
  min-height: 93vh;
}
.signupOption {
  background-color: #ffca28;
  /* color: #212529; */
  display: flex;
  font-size: 14px;
  justify-content: center; 
  line-height: 20px;
  margin-top: 20px;
}
.page-content {
  width: 560px;
  padding: 65px 42px 32px;
}
.btnBack{
  color: #000;
  font-size: 21px;
  font-weight: 500;  
  position: relative;
  left: 0;
  transition: left linear 0.2s;
}
.btnBack:hover {
  color: #000;
  left: -5px;
}
.btn-choose{
  border: 3px solid #8188cc ;
}
.choose-teacher{
  display: flex;
  align-items: center;
}
.choose-teacher-img{
  border-radius: 50%;
  background: #a5b2ff;
  font-size: 44px !important;
  padding: 10px 16px;
  margin: 0 10px;
  color: #1a237e;
}
.choose-student-img{
  border-radius: 50%;
  background: #a5b2ff;
  font-size: 44px !important;
  padding: 8px 24px;
  margin: 0 10px;
  color: #1a237e;
}
.choose-teacher-text{
  margin-left: 10px;
}
.choose-teacher-text h5{
  text-align: left;
  padding: 0;
  margin: 0;
}
.choose-teacher-text p{
  font-size: 16px;
  text-align: left;
  line-height: 1.3;
}

.log-in, .learn-more-inf{
  margin-top: 20px;
  text-align: center;
}
.a-text:hover{
  text-decoration: underline !important;
}