/* CSS FOR HEADER */
.header-navbar {
  padding: 0;
  height: 60px;
  margin: 0;
}
.navbar {
  padding: 0 0;
  height: 60px;
  background-color: #ffffff;
  box-shadow: #000000 0px -2px 4px 0px;
  color: #212529;
  line-height: 20px;
  margin: 0px 0px 36px;
}
.navbar_header {
  color: #212529;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin: 0px 34.5px;
  padding: 0px 6px;
}

.signup-btn,
.login-btn {
  display: block;
  line-height: 60px;
}
.nav-item {
  line-height: 60px;
  padding: 0 12px;
}
.nav-link {
  display: block;
  padding: 0;
}
.edmodo-img {
  top: 50%;
  transform: translateY(-50% + 1);
}
.btn-show {
  padding: 0 24px;
}
.learnmore_items,
.nav-item:hover {
  background-color: #f4f4f7;
  color: #5c6178;
}
/* CSS FOR MAIN */
body {
  margin-top: 70px;
}
.signup_section {
  align-items: center;
  color: #212529;
  display: flex;
  justify-content: space-around;
  line-height: 20px;
}
.title {
  font-family: VulfSans Light, Helvetica Neue, Helvetica, sans-serif;
  color: #1c1e27;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 61px;
  text-align: left;
  display: block;
  margin-bottom: 22px;
}
.signup_section span {
  color: #1c1e27;
  display: inline;
  font-size: 22px;
  line-height: 30px;
}
.btn_signup {
  border-color: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #1a237e;
  font-family: Disclaimer Medium;
  line-height: 20px;
  padding: 12px 24px;
  text-align: center;
}
.btn_signup:hover {
  background-color: #ffd54f;
}

.btn_signup .signup_btn {
  color: #1a237e;
  display: inline;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.for_family,
.for_student,
.for_teacher {
  align-items: center;
  color: #212529;
  display: flex;
  line-height: 20px;
  padding: 30px 0px;
}
.for_family .header,
.for_student .header,
.for_teacher .header {
  font-family: Disclaimer Medium, Helvetica Neue, Helvetica, sans-serif;
  color: #abaeba;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 38px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.for_family .subtitle,
.for_student .subtitle,
.for_teacher .subtitle {
  font-family: VulfSans Regular, Helvetica Neue, Helvetica, sans-serif;
  color: #1a237e;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 14px;
}
.for_family .message,
.for_student .message,
.for_teacher .message {
  font-family: Disclaimer Regular, Helvetica Neue, Helvetica, sans-serif;
  color: #1c1e27;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  display: inline;
}
.for_family a,
.for_student a,
.for_teacher a {
  font-family: Disclaimer Medium, Helvetica Neue, Helvetica, sans-serif;
  color: #ff6f00;
  font-size: 21px;
  line-height: 31px;
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
}
.for_family a:hover,
.for_student a:hover,
.for_teacher a:hover {
  text-decoration: underline;
}

.learning_banner {
  background-color: #e8eaf6;
  border-radius: 12px;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 20px;
  margin: 0px 0px 8px;
  padding: 14px 27px;
}
.learning_banner .img_banner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAA…O9f6zX3YDsGXj0ywU/wFnURvAmKzLUAAAAABJRU5ErkJggg==);
  background-size: 72px;
  margin-right: 10%;
  width: 72px;
  color: #212529;
  line-height: 20px;
  
}
.learning_banner-title{
  flex: 2;
}
.learning_banner .banner_text {
  color: #212529;
  line-height: 20px;
  margin: 5px 0px 0px;
}

.learning_banner .btn {
  background-color: #131a5e;
  border-color: #111754;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: Disclaimer Regular;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 12px;
}

/* CSS FOR FOOTER */
.list-inf {
  font-size: 14px;
}
.list-inf li {
  padding: 2px 0px;
}
.list-inf > li > a {
  color: #1a237e;
  font-family: "Times New Roman", Times, serif;
}
.list-inf > li:hover {
  text-decoration: underline;
}
.list-inf_item {
  white-space: nowrap;
  text-overflow: clip;
}
.footer-lable {
  font-size: 16px;
  font-family: "Disclaimer Regular", Helvetica "Neue", Helvetica, sans-serif;
}
.footer-lable-2 {
  font-size: 11px;
  text-align: justify;
  opacity: 0.6;
}
.form-select {
  width: 40%;
}
