
  body {
    margin-top: 70px;
  }
 .intro h3{
    color: #1b1e83;
    font-family: Vulf Sans Light;
    font-size: 50px;
    line-height: 50px;
    margin: 150px 0px 22px;
  }
  .intro p{
    color: #4e5565;
    font-family: Disclaimer Medium;
    font-size: 30px;
    line-height: 33px;
    margin: 150px 0px 22px;
  }

  .intro_1 h3,.intro_2 h3,.intro_3 h3{
    color: #1b1e83;
    font-family: Vulf Sans Light;
    font-size: 50px;
    line-height: 50px;
  }
  .intro_1 h3,.intro_3 h3{
    margin: 150px 150px 50px;
  }
  .intro_1 p,.intro_3 p {
    margin: 0px 80px 20px;
  }
  .intro_1 span, .intro_3 span{
    margin: 0px 0px 0px 80px;
  }
  .intro_1 p,.intro_2 p,.intro_3 p{
    color: #4e5565;
    font-family: Disclaimer Regular;
    font-size: 30px;
    line-height: 35px;
    
  }
  .intro_1 span, .intro_1 i, .intro_2 span, .intro_2 i, .intro_3 span, .intro_3 i{
    color: #ff6f00;
    font-size: 30px;
    line-height: 35px;
  }
  .intro_1 span:hover, .intro_2 span:hover, .intro_3 span:hover{
    text-decoration: underline;
  }
  .intro_2 h3{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
  }
  .intro_2 p{
    margin: 0px 80px 20px;
  }
  .intro_2 span{
    margin: 0px 0px 0px 80px;
  }
 .btn-create-account-teacher, .btn-contact-us{
    color: #1a237e;
    display: inline;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
 }
.btn-contact-us{
    margin-left: 40px;
}
  .submit h3{
    font-size: 40px;
  }
  .submit p{
    font-size: 23px;
    margin-top: 20px;
  }
  /* #scrollTop {
    position: fixed;
    bottom: -56px;
    right: 60px;
    background: rgb(53, 53, 53);
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
#scrollTop:hover {
    color: white;
} */
 