/* CSS FOR HEADER */
.header-navbar {
  padding: 0;
  height: 60px;
  margin: 0;
}
.navbar {
  padding: 0 0;
  height: 60px;
  background-color: #ffffff;
  box-shadow: #000000 0px -2px 4px 0px;
  color: #212529;
  line-height: 20px;
  margin: 0px 0px 36px;
}
.navbar_header {
  color: #212529;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin: 0px 34.5px;
  padding: 0px 6px;
}

.learn-more_dad{
  position: relative;
  cursor: pointer;
  color: rgba(0,0,0,.55);
}
.learn-more_list{
    position: absolute;
    display: none;
    list-style: none;
    padding-left: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px #cac6c6;
    background-color: #ffff;
}
.learn-mode_item{
    padding: 0 0 !important;
}
.learn-more_item li{
    padding-left: 0;
}
.learn-more_dad:hover > .learn-more_list{
    display: block;
}
.up-hover{
    display: none;
}
.learn-more_dad:hover .down-hover{
    display: none;
}
.learn-more_dad:hover .up-hover{
    display: inline-block;
}
.learn-more_list a{
  color: rgba(0,0,0,.55);
}
.signup-btn,
.login-btn {
  display: block;
  line-height: 60px;
  cursor: pointer;
}
.nav-item {
  line-height: 60px;
  padding: 0 12px;
}
.nav-link {
  display: block;
  padding: 0;
}
.edmodo-img {
  top: 50%;
  transform: translateY(-50% + 1);
}
.btn-show {
  padding: 0 24px;
}
.learn-more_list .dropdown-item,
.learnmore_items,
.nav-item:hover {
  background-color: #f4f4f7;
  color: #5c6178;
}
  
  body {
    margin-top: 70px;
  }
 .intro h3{
    color: #1b1e83;
    font-family: Vulf Sans Light;
    font-size: 50px;
    line-height: 50px;
    margin: 150px 0px 22px;
  }
  .intro p{
    color: #4e5565;
    font-family: Disclaimer Medium;
    font-size: 30px;
    line-height: 33px;
    margin: 150px 0px 22px;
  }

  .intro_1 h3,.intro_2 h3,.intro_3 h3{
    color: #1b1e83;
    font-family: Vulf Sans Light;
    font-size: 50px;
    line-height: 50px;
  }
  .intro_1 h3,.intro_3 h3{
    margin: 150px 150px 50px;
  }
  .intro_1 p,.intro_3 p {
    margin: 0px 80px 20px;
  }
  .intro_1 span, .intro_3 span{
    margin: 0px 0px 0px 80px;
  }
  .intro_1 p,.intro_2 p,.intro_3 p{
    color: #4e5565;
    font-family: Disclaimer Regular;
    font-size: 30px;
    line-height: 35px;
    
  }
  .intro_1 span, .intro_1 i, .intro_2 span, .intro_2 i, .intro_3 span, .intro_3 i{
    color: #ff6f00;
    font-size: 30px;
    line-height: 35px;
  }
  .intro_1 span:hover, .intro_2 span:hover, .intro_3 span:hover{
    text-decoration: underline;
  }
  .intro_2 h3{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
  }
  .intro_2 p{
    margin: 0px 80px 20px;
  }
  .intro_2 span{
    margin: 0px 0px 0px 80px;
  }
 .btn-create-account-teacher, .btn-contact-us{
    color: #1a237e;
    display: inline;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
 }
.btn-contact-us{
    margin-left: 40px;
}
  .submit h3{
    font-size: 40px;
  }
  .submit p{
    font-size: 23px;
    margin-top: 20px;
  }
 
  .footer-lable {
    font-size: 16px;
    font-family: "Disclaimer Regular", Helvetica "Neue", Helvetica, sans-serif;
  }
  .footer-lable-2 {
    font-size: 11px;
    text-align: justify;
    opacity: 0.6;
  }
  .form-select {
    width: 40%;
  }
  .submit{
    padding: 100px;
  }
 